doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='#')
		meta(name='keywords', content='#')
		title Exam #3
		link(rel='icon', href='img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='minCss/main.min.css')
		link(rel='stylesheet', href='../src/libs/slick/slick-theme.css')
		link(rel='stylesheet', href='../src/libs/slick/slick.css')
	body
		section#top
			header.header.layout
				div.menu
					.menu_logo
						img(src='img/logo.png', alt='logo')
					.menu_list
						a.menu_list-item(href='#top') Home
						a.menu_list-item(href='#slider') slider
						a.menu_list-item(href='#directions')  Home
						a.menu_list-item(href='#schedule')  Home
						a.menu_list-item(href='#map')  map
						a.menu_list-item(href='#contacts') contact
					.menu_hidden
						a.menu_open._menuOpen(for='navOpen', href='#') MENU
							nav.menu_list__open._menuList
								a.menu_list-item(href='#top') Home
								br
								a.menu_list-item(href='#slider') slider
								br
								a.menu_list-item(href='#directions')  Home
								br
								a.menu_list-item(href='#schedule')  Home
								br
								a.menu_list-item(href='#map')  map
								br
								a.menu_list-item(href='#contacts') contact
				.header_scroll
					a(href='#map')
						img(src='../src/img/logo.png', alt='scroll')
		section
			input.form-name(type='text', placeholder='Full name', required='')
			input.form-mail(type='email', placeholder='Email', required='')
			input.button(type='submit', value='submit')
			button.button MORE DETAILS

		section
			div#slider
				h1.title 
			a.arrow_left._prevArrow(href='#')
				img(src='img/arrow_left.png', alt='arrow')
			.slider._slider
				div
					.slider_item
						img.slider_item-img(src='img/slick1.png', alt='slider-img')
				div
					.slider_item
						img.slider_item-img(src='img/slick1.png', alt='slider-img')
				div
					.slider_item
						img.slider_item-img(src='img/slick1.png', alt='slider-img')
				div
					.slider_item
						img.slider_item-img(src='img/slick1.png', alt='slider-img')
			a.arrow_right._nextArrow(href='#')
				img(src='img/arrow_right.png', alt='arrow')
		section
			#map._map
		section
			.footer
				.social
					a(href="#")
						img.social_item(src="img/img_service/fb.png", alt="facebook")
					a(href="#")
						img.social_item(src="img/img_service/TW.png", alt="twitter")
					a(href="#")
						img.social_item(src="img/img_service/GG.png", alt="google")
					a(href="#")
						img.social_item(src="img/img_service/PP.png", alt="pint")
					a(href="#")
						img.social_item(src="img/img_service/IN.png", alt="linkedin")
				p.footer_copypight © 2018 Ocolus. All Rights Reserved
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?callback=initMap')
		script(src='minJs/libs.min.js')
		script(src='minJs/script.min.js')
