.form {
  width: 570px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  z-index: 1;
}
.form_search {
  width: 370px;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  outline: none;
}
.form_button {
  font: 700 14px/1 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  background: red;
  padding: 20px 65px;
  border: 0;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form_button:hover {
  border: 1px solid red;
  background: transparent;
  color: red;
}
.grid_block {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}
.grid_block_img {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid_block_img_img {
  background: #ffffff;
}
.grid_block_img_title {
  font: 600 16px/20px 'Open Sans', Arial, sans-serif;
  color: #242728;
  background: #ffffff;
  padding: 15px 20px 15px 20px;
  height: 60px;
  text-align: center;
}
.grid_block_img_caption {
  background: #FFD800;
  position: absolute;
  padding: 13px 4px;
  border-radius: 3px;
  top: 172px;
  left: 70px;
  text-transform: uppercase;
}
.grid_block_img__text {
  font: 400 14px/20px 'Open Sans', Arial, sans-serif;
  color: #575757;
  text-align: left;
  padding-top: 10px;
}
.header {
  height: 100vh;
  background: url(../img/bg_header.png) 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c4955;
  opacity: .7;
}
.header_inner {
  display: flex;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  z-index: 1;
}
.header_inner_logo {
  display: flex;
}
.header_inner_logo_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 400 14px/20px 'Open Sans', Arial, sans-serif;
  color: #D3D7D9;
  margin-left: 10px;
}
.header_inner_logo_text_item {
  margin-bottom: 5px;
}
.header_inner_logo_text_item:after {
  content: '';
  display: block;
  height: 1px;
  width: 270px;
  background: #D3D7D9;
  margin-top: 10px;
}
.header_inner_contact {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font: 400 13px/1 'Open Sans', Arial, sans-serif;
}
.header_inner_contact_item {
  margin-bottom: 5px;
}
.header_inner_contact_item:first-child {
  font-size: 16px;
}
.header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 945px;
  margin-top: 160px;
  letter-spacing: 1px;
  z-index: 1;
}
.header_block_title {
  font: 700 40px/60px 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.header_block_subtitle {
  font: 400 18px/24px 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.header_scroll {
  margin-top: 130px;
  position: absolute;
}
.services {
  height: 1340px;
  background: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_title {
  font: 700 36px/1 'Open Sans', Arial, sans-serif;
  color: #262626;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 33px;
  text-transform: uppercase;
}
.services_title:after {
  content: url(../img/line_.svg);
  display: block;
}
.services_list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 30px;
}
.services_list_item {
  display: flex;
  flex-direction: column;
}
.services_list_item_title {
  background: #ffffff;
  height: 75px;
  font: 700 14px/20px 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: #242728;
  text-align: center;
  padding: 15px 10px 0 10px;
  letter-spacing: -1px;
}
.services_subtitle {
  font: 700 24px 'Open Sans', Arial, sans-serif;
  color: #262626;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 30px;
}
.problems {
  height: 900px;
  background: #EDEDED;
}
.problems_title {
  font: 700 36px/1 'Open Sans', Arial, sans-serif;
  color: #262626;
  text-align: center;
  margin-top: -34px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.problems_title:after {
  content: url(../img/line_.svg);
  display: block;
}
.problems_block {
  display: flex;
  justify-content: center;
}
.problems_block_list {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.problems_block_list_item {
  padding: 13px;
  font: 400 14px/16px 'Open Sans', Arial, sans-serif;
  color: #575757;
}
.problems_block_list_item:hover {
  background: #F8F8F8;
  color: #733840;
  transition: all .3s;
}
.problems_block_list_item:active {
  background: #ffffff;
  color: black;
  font-weight: 600;
  transition: all .3s;
}
.problems_block_list_item:focus {
  background: #ffffff;
  color: black;
  font-weight: 600;
  transition: all .3s;
}
.problems_block_img {
  background: #ffffff;
  padding: 50px;
  width: 640px;
}
.problems_block_img_title {
  font: 700 24px/1 'Open Sans', Arial, sans-serif;
  color: #242728;
  margin-top: 43px;
}
.problems_block_img_text {
  font: 400 14px/22px 'Open Sans', Arial, sans-serif;
  color: #575757;
}
.block_with_form {
  height: 490px;
  background: url(../img/help.png) 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block_with_form:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 490px;
  background-color: #3c4955;
  opacity: .7;
}
.block_with_form_title {
  font: 400 36px/1 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 50px;
  z-index: 1;
}
.block_with_form_title__color {
  color: #EAD01E;
}
.block_with_form_title:after {
  content: url(../img/line_w.svg);
  display: block;
  text-align: center;
}
.block_with_form__color {
  background: url(../img/bg_free.png) 50% no-repeat;
  background-size: cover;
}
.offence {
  height: 1160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.offence_title {
  font: 700 36px/55px 'Open Sans', Arial, sans-serif;
  color: #262626;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
}
.offence_title:after {
  content: url(../img/line_.svg);
  display: block;
}
.offence_text {
  font: 400 18px/1 'Open Sans', Arial, sans-serif;
  color: #575757;
  text-align: center;
  margin-bottom: 20px;
}
.discount {
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.discount_title {
  font: 700 36px/1 'Open Sans', Arial, sans-serif;
  color: #262626;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.discount_title:after {
  content: url(../img/line_.svg);
  display: block;
}
.discount_subtitle {
  font: 400 18px/1 'Open Sans', Arial, sans-serif;
  color: #575757;
  margin-bottom: 40px;
}
.discount_block {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.discount_block_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
.discount_block_item_subtitle {
  font: 700 14px/28px 'Open Sans', Arial, sans-serif;
  color: #150a0c;
}
.discount_block_item_title {
  font: 700 60px/90px 'Open Sans', Arial, sans-serif;
  color: #bf0508;
}
.discount_block_item_text {
  font: 400 14px/16px 'Open Sans', Arial, sans-serif;
  color: #575757;
  text-align: center;
}
.footer {
  background: #1C1C1C;
  height: 340px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.footer_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.footer_card_title {
  font: 700 18px/1 'Open Sans', Arial, sans-serif;
  text-align: center;
}
.footer_card_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_card_img_item {
  padding: 20px;
}
.footer_card_copyright {
  font: 300 13px/16px 'Open Sans', Arial, sans-serif;
  color: #bcbcbc;
  text-align: center;
}
.footer_card_text {
  font: 300 13px/16px 'Open Sans', Arial, sans-serif;
  color: #bcbcbc;
  text-align: center;
}
.map {
  height: 600px;
  background: url(../img/map.png);
  display: flex;
  justify-content: center;
}
.map:before {
  content: '';
  background: linear-gradient(#211618, transparent 65%);
  position: absolute;
  width: 100%;
  height: 100%;
}
.map_text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.map_text_title {
  font: 400 36px/1 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.map_text_title:after {
  content: url(../img/line_w.svg);
  display: block;
  text-align: center;
}
.map_text_about {
  font: 400 18px/1 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}
.map_text_contact {
  font: 400 18px/1 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  width: 100%;
}
