.header{
	height: 100vh;
	background: #378FDC url(../img/Bg_header.png) no-repeat ;
	background-size: cover;
	&_nav{
		display: flex;
		justify-content:space-between;
		align-items: center;
		position: absolute;
		top: 40px;
		left:5%;
		right:5%;
		z-index: 22;
		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
			align-content: center;
			width: 100%;
			    margin-right: -50px;
		}
			&_logo{
				cursor:pointer;
			}
			&_menu{
				display: flex;
				justify-content: space-between;
				@media (max-width: 1070px) {
					width: 45%;
				}
				@media (max-width: 600px) {
					width: 60%;
				}
				&_li{
					list-style: none;
					&:hover{
						transform: scale(1.1);
						transition: .3s;
					}
					&_link{
						text-decoration: none;
						color: @colorTitle;
						font:300 14px/22px@fontGothamBook;
						letter-spacing: 1px;
						padding-left:60px ;
						text-transform: uppercase;
						&_icon{
							font-size: 8px;
							padding-right: 10px;
						}
					}
				}
				&_social{
					@media (max-width: 1070px) {
						width: 10%;
						margin :10px;
					}
					@media (max-width: 600px){
						width: 32%;
						margin: 10px 20px 10px 0;
					} 
					&_item{
						margin: 0 10px;
						&:hover{
							transform: scale(1.1);
							transition: .3s;
						}
					}
				}
			}
		}
		&_slider{
			&_item{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 250px 150px;
				height: 100vh;
				background: #378FDC url(../img/Bg_header.png) no-repeat ;
				background-size: cover;
				padding-top:  40px;
				&_title{
					font:700 80px/86px @fontGothamGothamBold;
					color:@colorTitle;
					text-transform: uppercase;
					text-align: center;
				}
				&_subtitle{
					font:300 18px/22px @fontGothamBook;
					color:@colorTitle;
					text-transform: uppercase;
				}
			}
		}
		&_scroll{
			position: absolute;
			left: 50%;
			bottom: 50px;
			cursor: pointer;
		}
	}

