
body{
box-sizing: border-box;
background-color:#EEEEEE;
}
.header{
height: 85px;
margin-top:50px;
margin-left: 25px;
font:18px/27px 'Roboto', sans-serif;
}
.header_navigation{
display: flex;
justify-content: space-between;
align-items: flex-end;
width: 1200px;
margin:0 auto;
}
.header_link{
text-decoration: none;
color:  #303030;
font-weight: 400;
margin:0 30px;
}
.header_button{
width: 40px;
height: 40px;}
.header_navigation div{
width: 40%;
}
.slider{
display: flex;
margin:-45px auto;
width: 1200px;
height: 770px;
margin-bottom: 50px;
}
.slider_block{
width: 625px;
height: 691px;
text-align: right;
}
.slider_block_h{
font:150px/150px Raleway;
color:  #303030;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 2px;

}
.slider_block_text{
font:24px/36px Roboto ,sans-serif;
color:  #303030;
font-weight: 300;
margin-top: -78px;
}
.slider_img{
width: 365px;
height: 491px;
background: radial-gradient(white,transparent);
margin:100px;
}
.slider_block_span{
font:24px/36px Roboto;
color: #e10011;
font-weight: 700;
}
.slider_point{
display: flex;
justify-content: center;
width: 1200px;
margin-top:60px;
}
.slider_point_item{
background: black;
width:10px;
height: 10px;
border-radius: 50%;
margin:5px;
}
.slider_point_item:first-child{
background: red;
}
.main{
width:1198px;
height:1193px;
background:white;
display:flex;
margin:-40px auto;
flex-wrap: wrap;
}
.main_text{
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
width: 585px;
text-align: center;
flex-direction: column;
}
.main_text_h{
font:48px/60px Raleway;
color:  #303030;
font-weight: 900;
margin-top: 100зч
margin-bottom: 0;
}
.main_text_line{
width: 213px;
height: 17px;
align-self: center;
margin-bottom: 25px;
margin-top: -25px;
}
.main_text_span{
font:18px/24px Raleway;
color:  #303030;
font-weight: 400;
}
.main_img{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-content: space-between;
width: 1055px;
height: 809px;
margin:0 auto;
}
.main_img_item{
position: relative;
}
.main_img_item:first-child{
width:692px;
height:388px;
}
.main_img_item{
height: 388px;
width:327px;
}
.main_img_caption{
transition: all .3s;
opacity:0;
position:absolute;
height: 100%;
width: 100%;
font-family: Roboto;
color:  #ffffff;
font-size: 22px;
font-weight: 900;
text-align: left;
top:0;
left:0;
display: flex;
justify-content: flex-end;
flex-direction: column;
border-radius: 5px;

}
.main_img_caption:after{
content: '___________';
margin-bottom: 40px;
margin-left: 20px;
margin-top: -30px;
}
.main_img_caption h2{
margin-left: 18px;
letter-spacing:0.04em;
}
.main_img_item:hover .main_img_caption{
opacity:1;
background: #E10011;
}
.header_link:hover,
.header_button:hover{
padding:5px;
border-radius:5px; 
box-shadow: 1px 2px 30px  #E10011;
transition: .3s;
}
.slider_block_span:hover{
color:#FF5B6C;
}
.subscribe{
display: flex;
flex-direction: column;
width: 1200px;
height: 390px;
margin: 50px auto;
align-items: center;
}
.subscribe_text{
font-family: Raleway;
text-align: center;
color:  #303030;
}
.subscribe_text_h{
font-size: 48px;
font-weight: 900;

}
.subscribe_text_p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
width: 590px;
}
.subscribe_form{
display: flex;
flex-wrap: wrap;
background: white;
width: 705px;
height: 70px;
border-radius: 50px;
margin-top: 20px;
position: relative;

}
.subscribe_form_img{
width: 30px;
height: 30px;
margin:18px 16px;
}
.subscribe_form_input{
width: 433px;
border: none;
font:17px/24px Raleway,italic;
color:  #979797;
font-weight: 400;
}
.subscribe_form_button{
width: 206px;
background:#E10011;
font: 18px/1 Roboto;
color:  #ffffff;
text-transform: uppercase;
font-weight: 900;
text-align: center;
border: none;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;

}

.subscribe_form:after{
content: ''; 
position: absolute;
border: 10px solid transparent;
border-left: 10px solid white;
right: 33px;
bottom: 24px;}
.subscribe_form_button:focus{
border: inherit;
outline: none;
}
.subscribe_form_button:hover{
background:#FF5B6C; 
}