*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.layout{
min-width: 1170px;
width: 100%;
}
@font-face {
	font-family: 'gotham_mediumregular';
	src: url(../fonts/gotham_medium_regular-webfont.woff2) format('woff2'),
	url(../fonts/gotham_medium_regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@import url(slick-theme.less);
@import url(slick.less);
@import url(var.less);
@import url(../blocks/header.less);
@import url(../blocks/do.less);
@import url(../blocks/news.less);

.map{
	height: 700px;
}