@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.layout {
  max-width: 1170px;
  min-width: 600px;
  margin: auto;
}
.layout__footer {
  width: 770px;
}
.map {
  height: 700px;
}
@font-face {
  font-family: 'gotham_mediumregular';
  src: url(../fonts/gotham_medium_regular-webfont.woff2) format('woff2'), url(../fonts/gotham_medium_regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'gothambold1';
  src: local('gothambold1'), url(../fonts/gothambold1.woff) format('woff'), url(../fonts/gothambold1.ttf) format('truetype');
}
@font-face {
  font-family: 'GothamBook';
  src: local('GothamBook'), url(../fonts/GothamBook.woff) format('woff'), url(../fonts/GothamBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
.slick-prev {
  left: -60px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -60px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.arrow_right {
  position: absolute;
  top: 50%;
  right: 115px;
}
@media (max-width: 1070px) {
  .arrow_right {
    right: 5%;
  }
}
.arrow_left {
  position: absolute;
  top: 50%;
  left: 115px;
}
@media (max-width: 1070px) {
  .arrow_left {
    left: 5%;
  }
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  bottom: 130px;
}
@media (max-width: 1070px) {
  .slick-dots {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .slick-dots {
    width: 60%;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li:before {
  content: url(../img/circle-regular.svg);
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 6px;
  line-height: 10px;
  text-align: center;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: white;
  content: url(../img/circle-solid.svg);
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.header {
  height: 100vh;
  background: #378FDC url(../img/Bg_header.png) no-repeat;
  background-size: cover;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 5%;
  right: 5%;
  z-index: 22;
}
@media (max-width: 600px) {
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    margin-right: -50px;
  }
}
.header_nav_logo {
  cursor: pointer;
}
.header_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1070px) {
  .header_nav_menu {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .header_nav_menu {
    width: 80%;
    margin: 20px;
  }
}
.header_nav_menu_li {
  list-style: none;
}
.header_nav_menu_li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header_nav_menu_li_link {
  text-decoration: none;
  color: #ffffff;
  font: 300 14px/22px 'GothamBook', Arial, sans-serif;
  letter-spacing: 1px;
  padding-left: 60px ;
  text-transform: uppercase;
}
.header_nav_menu_li_link_icon {
  font-size: 8px;
  padding-right: 10px;
}
@media (max-width: 1170px) {
  .header_nav_menu_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header_nav_menu_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.header_nav_menu_social_item {
  margin: 0 10px;
}
.header_nav_menu_social_item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header_slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 250px 150px;
  height: 100vh;
  background: #378FDC url(../img/Bg_header.png) no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.header_slider_item_title {
  font: 700 80px/86px 'gothambold1', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 600px) {
  .header_slider_item_title {
    padding-top: 160px;
    font-size: 55px;
  }
}
.header_slider_item_subtitle {
  font: 300 18px/22px 'GothamBook', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.header_scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  cursor: pointer;
}
.do {
  padding-top: 100px;
}
@media (max-width: 600px) {
  .do {
    padding-top: 50px;
  }
}
.do_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 150px;
}
@media (max-width: 1170px) {
  .do_center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 20%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.do_center_img1 {
  margin-top: 50px;
  position: relative;
  -webkit-box-shadow: -215px -70px 0px 0px #55b7ff;
  box-shadow: -215px -70px 0px 0px #55b7ff;
}
@media (max-width: 1170px) {
  .do_center_img1 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .do_center_img1 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: 0;
  }
}
.do_center_img2 {
  margin-top: 50px;
  position: relative;
  -webkit-box-shadow: 215px -70px 0px 0px #7E5AFF;
  box-shadow: 215px -70px 0px 0px #7E5AFF;
}
@media (max-width: 1170px) {
  .do_center_img2 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .do_center_img2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: 0;
  }
}
.do_center_text {
  margin-left: 70px;
}
@media (max-width: 1070px) {
  .do_center_text {
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .do_center_text {
    margin-left: 20%;
  }
}
@media (max-width: 1070px) {
  .do_center_text__right {
    margin-bottom: 50px;
  }
}
.do_center_text_subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  font: 300 22px/24px 'GothamBook', Arial, sans-serif;
  color: #2C4058;
  text-transform: uppercase;
}
@media (max-width: 1070px) {
  .do_center_text_subtitle {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .do_center_text_subtitle {
    margin-top: 0;
  }
}
.do_center_text_text {
  font: 400 18px/30px 'Open Sans', sans-serif;
  color: rgba(74, 85, 98, 0.5);
  margin-bottom: 30px;
}
.do_center_text_loc {
  font: 400 18px/30px 'Open Sans', sans-serif;
  color: #2C4058;
  font-style: italic;
}
.do_center_text_loc_icon {
  padding-right: 10px;
}
.do_center_text__right {
  margin-left: 0;
}
@media (max-width: 600px) {
  .do_center_text__right {
    margin: 70px 0 70px 120px;
  }
}
.news {
  background: #378FDC url(../img/Bg_news.png) no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 1070px) {
  .news {
    margin-top: 0;
    padding: 0 10%;
  }
}
.news_title {
  color: #ffffff;
  font: 500 44px/22px 'gotham_mediumregular', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.news_slider {
  padding-bottom: 200px;
}
@media (max-width: 950px) {
  .news_slider {
    margin: 0 12%;
  }
}
.news_slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
  height: 500px;
  width: 370px;
  background: white;
  position: relative;
}
.news_slider_item:hover .news_slider_item_hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news_slider_item_hover {
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 40%;
  bottom: 0;
  right: 0;
}
.news_slider_item_hover:before {
  content: url(../img/hover_slider.png);
  position: absolute;
}
.news_slider_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}
.news_slider_item_text_text {
  font: 400 18px/30px 'Open Sans', sans-serif;
  color: rgba(74, 85, 98, 0.5);
  margin-bottom: 30px;
}
.news_slider_item_text_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news_slider_item_text_author_img {
  vertical-align: middle;
}
.news_slider_item_text_author_name {
  font: 300 18px/22px 'GothamBook', Arial, sans-serif;
  color: #2c4058;
  text-transform: uppercase;
  padding-left: 10px;
}
.news_slider_item_text_author_date {
  font: 300 14px/22px 'GothamBook', Arial, sans-serif;
  color: #55b7ff;
}
.title_block {
  font: 700 44px/48px 'gotham_mediumregular', Arial, sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
@media (max-width: 600px) {
  .title_block {
    font-size: 30px;
  }
}
.title_block:before {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  background: #2C4058;
  position: absolute;
  right: 45%;
  top: -40px;
  margin-bottom: 30px;
}
.title_block__white {
  color: #ffffff;
  padding-top: 170px;
}
.title_block__white:before {
  background: #ffffff;
  margin-top: 170px;
}
@media (max-width: 600px) {
  .title_block__white:before {
    font-size: 30px;
  }
}
.title_block__withoutLine {
  font: 700 44px/48px 'gotham_mediumregular', Arial, sans-serif;
  color: #2C4058;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 600px) {
  .title_block__withoutLine {
    font-size: 30px;
  }
}
.button_block {
  background: transparent;
  text-transform: uppercase;
  font: 300 14px/22px 'GothamBook', Arial, sans-serif;
  color: #2C4058;
  padding: 15px 40px;
  border: 1px solid #2C4058;
  margin-bottom: 50px;
  outline: none;
}
.button_block:hover {
  background: #f1f4f8;
  -webkit-box-shadow: 2px 2px #698bb4;
  box-shadow: 2px 2px #698bb4;
  top: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button_block:active {
  -webkit-box-shadow: 0 0 #698bb4;
  box-shadow: 0 0 #698bb4;
  top: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button_block__gallery {
  text-align: center;
  margin: 60px auto 130px auto;
  display: block;
  padding: 15px 60px;
}
@media (max-width: 600px) {
  .button_block__gallery {
    margin: -30px auto 50px auto;
  }
}
.button_block__footer {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.gallery {
  padding-top: 100px;
}
.gallery_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1070px) {
  .gallery_img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .gallery_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.gallery_img_big {
  margin-right: 10px;
  position: relative;
}
.gallery_img_big:hover .gallery_img_big_hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_img_big_hover {
  opacity: 0;
  top: 30%;
  left: 40%;
  bottom: 0;
  right: 0;
  position: absolute;
}
.gallery_img_big_hover:before {
  content: url(../img/360.png);
  position: absolute;
}
.gallery_img_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.gallery_img_small_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.gallery_img_small_row_item {
  margin-right: 10px;
  position: relative;
}
.gallery_img_small_row_item_hover {
  opacity: 0;
  top: 30%;
  left: 40%;
  bottom: 0;
  right: 0;
  position: absolute;
}
.gallery_img_small_row_item_hover:before {
  content: url(../img/360.png);
  position: absolute;
}
.gallery_img_small_row_item:hover .gallery_img_small_row_item_hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer {
  background: url(../img/bg_footer.jpg) no-repeat;
  background-size: cover;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }
}
.footer_nav_social_item {
  margin-left: 30px;
  cursor: pointer;
}
.footer_nav_social_item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer_copy {
  font: 300 14px/22px 'GothamBook', Arial, sans-serif;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 600px) {
  .footer_copy {
    text-align: center;
  }
}
.back {
  background: url(../img/bg_get.png) no-repeat;
  background-size: cover;
  height: 450px;
  padding: 70px 50px;
  position: absolute;
  top: -300px;
  -webkit-box-shadow: 0px 0px 10px grey;
  box-shadow: 0px 0px 10px grey;
}
@media (max-width: 750px) {
  .back {
    padding: 70px 80px;
  }
}
.back_get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 750px) {
  .back_get {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (max-width: 600px) {
  .back_get {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.back_get_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}
.back_get_contact_item {
  font: 300 18px/34px 'GothamBook', Arial, sans-serif;
  color: #2C4058;
  text-align: left;
  padding-top: 25px;
}
.back_get_contact_item_icon {
  color: #7e5aff;
  padding-right: 10px;
}
.back_get_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}
.back_get_form_name {
  padding: 20px 10px 10px 0;
  font: 300 18px/34px 'GothamBook', Arial, sans-serif;
  color: rgba(74, 85, 98, 0.5);
  margin-bottom: 25px;
  border: 0;
  border-bottom: 1px solid;
  outline: none;
}
.back_get_form_name:focus {
  border-bottom: 1px solid #2C4058;
  color: #2C4058;
}
.back_get_form_mail {
  padding: 20px 10px 10px 0;
  font: 300 18px/34px 'GothamBook', Arial, sans-serif;
  color: rgba(74, 85, 98, 0.5);
  margin-bottom: 35px;
  border: 0;
  border-bottom: 1px solid;
  outline: none;
}
.back_get_form_mail:focus {
  border-bottom: 1px solid #2C4058;
  color: #2C4058;
}
