.row::after {
	content: '';
	display: block;
	clear: both;
}

.row:last-child [class*="w-"] {
	margin-bottom: 10px;
}

[class*="w-"] {
	float: left;
	margin-right: 30px;
}

[class*="w-"]:last-child {
	margin-right: 0px;
}

.w-1-3 {
	width: calc(100% / 3 - 30px * 2 / 3);
	height: 340px;
	margin-bottom: 30px;
}

.w-1-3__second {
	margin-bottom: 90px;

}

.w-1-4 {
	width: calc(100% / 4 - 30px * 3 / 4);
	height: 270px;
	margin-bottom: 10px;
}
